#bg {
  /* box-sizing: border-box; */
  background-image: url('https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg');
  min-height: 100vh;
}
#home-text {
  padding-top: 100px;
  font-weight: bolder;
  font-size: xx-large;
}
#thic {
  color: red;
  padding: 5%;
  font-weight: bolder;
}
#btn {
  padding: 5%;
}
#form {
  padding-left: 7%;
  padding-right: 7%;
}
#button {
  background-color: #e50914;
  /* font-weight: bolder; */
  /* font-size: large; */
}
#button:hover {
  background-color: red;
}
#help:link {
  color: white;
  text-decoration: none;
}
#help:hover {
  color: white;
  text-decoration: underline;
}
#card {
  background-color: black;
  opacity: 85%;
  /* margin-bottom: 150px; */

  margin: 85px;
}
#right {
}
@media only screen and (max-width: 680px) {
  #card {
    /* background-color: #e50914; */
    min-width: 80vw;
    margin-left: 35px;
    margin-bottom: 120px;
  }
  #right {
    position: absolute;
    left: 200px;
    word-wrap: normal;
  }
}
#para {
  margin-left: -3px;
  /* margin-bottom: 100px;
  padding-bottom: 15%; */
}
#center {
  padding-top: 100px;
}
@media only screen and (min-width: 1200px) {
  #center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -85px;
    height: -30px;
    /* background-image: url('https://cdn.pixabay.com/photo/2022/04/19/08/32/relax-7142183__480.jpg'); */
  }
}
#foot-home {
  background-color: black;
  opacity: 95%;
  color: white;
  margin-top: 200px;
  padding: 3%;
}
#foot {
  /* background-color: black; */
  opacity: 50%;
  /* color: white; */
}
#foot-sign {
  background-color: black;
  opacity: 95%;
  margin-top: -80px;
  padding: 5%;
}
/* #opac {
  background-color: black;
  opacity: 90%;
  color: white;
} */
/* #movie-page {
  background-color: black;
} */
#spin {
  width: 3rem;
  height: 3rem;
}
